.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(182, 131, 62);
}

@font-face {
  src: local("FinkHeavy"),
    url("./FinkHeavy/FinkHeavy.ttf") format("truetype");
  font-family: "FinkHeavy";
}


.p {
  color: rgb(182, 131, 62);
  background-color: whitesmoke;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
