body {
  margin: 0;
  background-color: rgb(255,255,250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app-header {
  font-family: "FinkHeavy", bold;
	font-size: 2.5rem;
}
